.button {
  padding:$base-spacing * 0.75 0.5rem;
  border-radius: $base-border-radius;
  display: inline-block;
  margin-bottom: $small-spacing;

  &:not(:last-of-type) {
    margin-right:0.5rem;
  }

  @include grid-media($grid__l-up) {
    padding:$base-spacing 1rem;
  }

  &:hover {
    opacity:0.6;
  }
}

.button--dummy { // Used to imitate a button's spacing etc.
  &:hover {
    opacity:1;
  }
}

.button--outline {
  border:1px solid $link-color;
}

.button--pill {
  border-radius: 3rem;
  padding:$base-spacing * 0.75 2.5rem;
}

.button--light-blue {
  background-color:$light-blue;
  border:0;
}

.button--orange {
  background-color:$orange;
  border:0;
  color:shade($orange, 50%) !important;
}

.button--yellow {
  background-color:$yellow;
  border:0;
  color:shade($yellow, 50%) !important;
}
