body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $base-spacing 0;
}

h1 {
  color:white;
  font-family:'Museo-300', 'Museo-500';
  @include font-size(28, 28);
  
}

h2 {
  @include font-size(24, 28);

  @include grid-media($grid__m-up) {
    @include font-size(34, 38);
  }

  @include grid-media($grid__xl-up) {
    @include font-size(40, 48);
  }
}

h4 {
  @include font-size(18, 24);

  @include grid-media($grid__m-up) {
    @include font-size(18, 24);
  }

  @include grid-media($grid__xl-up) {
    @include font-size(21, 28);
  }
}

h5 {
  @include font-size(16, 24);

  @include grid-media($grid__m-up) {
    @include font-size(16, 24);
  }

  @include grid-media($grid__xl-up) {
    @include font-size(18, 24);
  }
}


p {
  margin-top:0;
  margin-bottom:$base-spacing;
}

a:link,
a:visited {
  color: $link-color;
  text-decoration: none;
  transition: all $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
  }
}

ul, ol {
  margin:0 0 $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

strong {
  font-family: 'Museo-700', Arial, sans-serif;
  font-weight:bold;
}

// Text Helpers
.text--upper {
  text-transform: uppercase;
}

.text--white {
  color:white !important;
}
.text--green {
  color:$green !important;
}
.text--light-blue {
  color:$light-blue !important;
}
