body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $base-spacing 0;
}

h1 {
  color:white;
  font-family:'Museo-300', 'Museo-500';
  @include font-size(28, 28);

}

h2 {
  @include font-size(24, 28);

  @include grid-media($grid__m-up) {
    @include font-size(34, 38);
  }

  @include grid-media($grid__xl-up) {
    @include font-size(40, 48);
  }
}

h3 {
  @include font-size(24, 28);

  @include grid-media($grid__m-up) {
    @include font-size(28, 36);
  }

  @include grid-media($grid__xl-up) {
    @include font-size(32, 42);
  }
}

h4 {
  @include font-size(18, 24);

  @include grid-media($grid__m-up) {
    @include font-size(18, 24);
  }

  @include grid-media($grid__xl-up) {
    @include font-size(21, 28);
  }
}

h5 {
  @include font-size(16, 24);

  @include grid-media($grid__m-up) {
    @include font-size(16, 24);
  }

  @include grid-media($grid__xl-up) {
    @include font-size(18, 24);
  }
}


p {
  margin-top:0;
  margin-bottom:$base-spacing;
}

a:link,
a:visited {
  color: $link-color;
  text-decoration: none;
  transition: all $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color:shade($link-color, 20%);
  }
}

ul, ol {
  margin:0 0 $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

strong {
  font-family: 'Museo-700', Arial, sans-serif;
  font-weight:bold;
}

// Text Helpers
.text--upper {
  text-transform: uppercase;
}
.text--center,
.text--centre {
  text-align: center;
}

.text--blue {
  color:$blue !important;
}
a.text--blue {
  &:link, &:visited {
    color:$blue !important;
  }
  &:hover {
    color:shade($blue, 20%) !important;
  }
}

.text--green {
  color:$green !important;
}
a.text--green {
  &:link, &:visited {
    color:$green !important;
  }
  &:hover {
    color:shade($green, 20%) !important;
  }
}

.text--orange {
  color:$orange !important;
}
a.text--orange {
  &:link, &:visited {
    color:$orange !important;
  }
  &:hover {
    color:shade($orange, 20%) !important;
  }
}

.text--yellow {
  color:$yellow !important;
}
a.text--yellow {
  &:link, &:visited {
    color:$yellow !important;
  }
  &:hover {
    color:shade($yellow, 20%) !important;
  }
}

.text--light-blue {
  color:$light-blue !important;
}

a.text--light-blue {
  &:link, &:visited {
    color:$light-blue !important;
  }
  &:hover {
    color:shade($light-blue, 20%) !important;
  }
}

.font--base {
  font-family:$base-font-family;
}

.text--white {
  color:white !important;
}
a.text--white {
  &:link, &:visited {
    color:$white !important;
  }
  &:hover {
    color:shade($white, 20%) !important;
  }
}

.text--grey {
  color:$grey !important;
}

a.text--grey {
  &:link, &:visited {
    color:$grey !important;
  }
  &:hover {
    color:shade($grey, 20%) !important;
  }
}

.text--bronze {
  color:$bronze !important;
}

a.text--bronze {
  &:link, &:visited {
    color:$bronze !important;
  }
  &:hover {
    color:shade($bronze, 20%) !important;
  }
}

.text--spaced {
  letter-spacing: 2px;
}
